@media screen and (min-width: 350px) {
.dangnhap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}
.dangnhap_1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.11);
}
.dangnhap_2 {
    width: 350px;
    height: 350px;
    background-color: white;
    margin: auto;
    margin-top: 20%;
    position: relative;
}
.dangnhap_3 {
    color: black;
    margin-top: 5%;
    text-align: center;
}
.khunginput {
    margin-top: 10%;
}
.theinput_1 {
    margin-top: 5%;
}
.theinput_2 {
    width: 90%;
    height: 25px;
    margin-left: 4%;
}
.dangnhap_4 {
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
}
.dangnhap_4-1 {
    width: 30%;
    height: 30px;
    background-color: darkorange;
    margin-top: 10%;
    margin-left: 33%;
}
.dangnhap_4-1-link {
    margin-left: 20%;
    text-decoration: none;
    color: darkred;
    font-size: 15px;
}
.dangnhap_5 {
    text-align: center;
}
.dangnhap_6 {
    text-decoration: none;
}
.dangnhapkhac_1 {
    margin-left: 10%;
}
}